.card-containers {
    margin: 10rem 0;
    width: 200vw;
    display: flex;
    white-space: nowrap;
    .card {
        background: var(--main-color);
        width: 31.77vw;
        height: 64.81vh;
        border: 4px solid black;
        border-radius: 10px;
        position: relative;
        .inner-card {
            width: 100%;
            height: 93%;
            bottom: 0;
            border-radius: 10px;
            background: white;
            position: absolute;
            border-top: 4px;
            border-style: solid;
            border-color: black;
        }
    }
}