.about-container {
    padding: 10% 7%;
    .text-container {
        color: black;
        opacity: 1;
        transition: all 0.4s ease-in-out;
        &:hover {
            color: rgb(200, 200, 200) !important;
            opacity: 0.6;
        }
        .sentence {
            transition: all 0.4s ease-in-out;
            opacity: 0.6;
            &:hover {
                mix-blend-mode: darken;
                opacity: 1;
            }
        }
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.15;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0.15;
    }
    to {
        opacity: 1;
    }
}